{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celery - A guide for implementing celery, using django web framework</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="text-justify">
    <div class="page-header">
      <nav class="navbar navbar-fixed-top">
        <a href="{% url 'home' %}" class="top-menu">Home</a>
      </nav>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>